.red {
  color: #AD413E;

}

.blue {
  color: #305077;
}

.green {
  color: #3F6449;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.title {
  font-family: sans-serif;
  text-align: center;
  font-size: 60px;
}